<% include partials/header %>

    <div class="container animated">
        
        <h4 class="mb-4">Alexander Cherkashin</h4>
        <div class="text-truncate d-block">
            <p><i class="far fa-envelope fa-lg fa-fw"></i> amchercashin <i class="far fa-smile-wink fa-xs"></i> gmail <i class="fas fa-circle fa-xs"></i> com</p>
            <p><i class="fab fa-github fa-lg fa-fw"></i> <a href="https://github.com/amchercashin" target="_blank">github.com/amchercashin</a></p>
            <p><i class="fab fa-linkedin-in fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/alexandercherkashin/" target="_blank">www.linkedin.com/in/alexandercherkashin/</a></p>
        </div>
        <div class="mt-5"><a href="#" onclick="history.back();">Go Back</a></div>
    </div>

<% include partials/footer %>