<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <h1>Welcome to MyPorfolio</h1>
        <p>The best projects from all of the world</p>
    </header>


    <a href="projects">Look for a project</a>
</div>
<% include partials/footer %>