<% include partials/header %>

<div class="container animated fadeIn">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-xs-12">
            <h1>Sign IN</h1>
            <% if (error && error.length >0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <form class="mt-4" action="/login" method="post">
                <div class="form-group">
                        <!-- <input class="form-control" required type="text" name="username" placeholder="username" autofocus> -->
                        <input class="form-control" required type="text" name="username" placeholder="username" autofocus value="test">
                </div>
                <div class="form-group">
                        <!-- <input class="form-control" required type="password" name="password" placeholder="password"> -->
                        <input class="form-control" required type="password" name="password" placeholder="password" value="test">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Sign In!</button>
                </div>                
            </form>
            <a href="/projects">Go Back</a> 
        </div>
    </div>
</div>

<% include partials/footer %>