a.custom-card, a.custom-card:hover {
    color: inherit;
    text-decoration-line: none;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.card {
    height: 19rem;
}

img.show-img {
    width: 100%;;
    height: 20vh;
    object-fit:cover;
  }

.img-thumbnail {
    padding: 0;
}

.fade-out {
    position: relative;
    /* max-height: 200px;  */
  }

.fade-out:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(170deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 100% );
}

.btn-opacity {
    opacity: 0.6;
}

.btn-opacity:hover {
    opacity: 1;
}

#add-new-icon {    
    color: lightgreen;
    opacity: 0.5;
}